<!DOCTYPE html>
<html>
    <head>
        <!-- MATERIALIZE CSS -->
        <script type="text/javascript" src="/js/materialize.js">
        </script>
        <link rel="stylesheet" href="/css/materialize.css">
        <!-- PERSONAL STYLE -->
        <link rel="stylesheet" href="/css/styles.css">
        <!-- PERSONAL SCRIPT -->
        <script type="text/javascript" src="/js/script.js">
        </script>
        <meta charset="utf-8">
        <title>Memnon</title>
    </head>
    <body>
        <!-- HEADER -->
        <div class="header">
            <!-- NAVBAR -->
            <div class="nav">
                <nav class="transparent">
                    <div class="nav-wrapper">
                        <a href="#" class="brand-logo">Memnon</a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="#">How We Help</a></li>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- NAVBAR END -->
        </div>
        <!-- END HEADER -->
        <div class="about">
            <div class="container">
                <h1>How We Help</h1>
                <p>Our focus is to bring your project into the spotlight through our collective skills and dedication.</p>
            </div>
        </div>
    </body>
</html>
